body {
    background-color: #24252d;
    height: 100vw;
    overflow: hidden;
    margin: 0;
}

#main {
    margin:5vw 5vw 0 5vw;
    background-color: #2b2b35;
    border-radius: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h2 {
    color: #ef2e19;
    background-color: #ff846b;
    border: 1px #ef2e19 solid;
    padding: 1em;
    border-radius: 1em;

}

#batements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 50%;
}

h1 {
    font-size: 5em;
    margin-top:0.67em;
    font-family: sans-serif;
    color: #dddddd;
}

#canva_box {
    width:90%;
    height: 15em;
    margin-bottom:1em;
}

canvas {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#heart_box {
    /* width: 25%; */
    height:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heart {
    width:90%;
    height:auto;
    margin: 5%;
    /* filter: drop-shadow(0px 0px 5px #ff005788); */
}

@media screen and (max-width: 800px) {
    #heart_box {
        width:90%;
        /* filter: drop-shadow(0px 0px 5px #ff005788); */
    }
}

.deactivated {
    opacity:50%;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.activated {
    opacity: 90%;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.pulse {
    animation-name: pulse;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    from {
        opacity: 90%;
        width: 90%;
        margin: 5%;
        filter: drop-shadow(0px 0px 0px #00000000);
    } 40% {
        opacity: 100%;
        width: 100%;
        margin: 2.5%;
        filter: drop-shadow(0px 0px 5px #ff0057);
    } 50% {
        opacity: 90%;
        width: 95%;
        margin: 2.5%;
        filter: drop-shadow(0px 0px 0px #00000000);
    } 60% {
        opacity: 100%;
        width: 100%;
        margin: 2.5%;
        filter: drop-shadow(0px 0px 5px #ff0057);
    } to {
        opacity: 90%;
        width: 90%;
        margin: 5%;
        filter: drop-shadow(0px 0px 0px #00000000);
    }
}

@-webkit-keyframes pulse {
    from {
        opacity: 90%;
        width: 90%;
        margin: 2%;
        filter: drop-shadow(0px 0px 0px #00000000);
    } 45% {
        opacity: 100%;
        width: 100%;
        margin: 1%;
        filter: drop-shadow(0px 0px 5px #ff0057);
    } 50% {
        opacity: 90%;
        width: 95%;
        margin: 1.5%;
        filter: drop-shadow(0px 0px 0px #00000000);
    } 55% {
        opacity: 100%;
        width: 100%;
        margin: 1%;
        filter: drop-shadow(0px 0px 5px #ff0057);
    } to {
        opacity: 90%;
        width: 90%;
        margin: 2%;
        filter: drop-shadow(0px 0px 0px #00000000);
    }
}

@-moz-keyframes pulse {
    from {
        opacity: 90%;
        width: 90%;
        margin: 2%;
        filter: drop-shadow(0px 0px 0px #00000000);
    } 45% {
        opacity: 100%;
        width: 100%;
        margin: 1%;
        filter: drop-shadow(0px 0px 5px #ff0057);
    } 50% {
        opacity: 90%;
        width: 95%;
        margin: 1.5%;
        filter: drop-shadow(0px 0px 0px #00000000);
    } 55% {
        opacity: 100%;
        width: 100%;
        margin: 1%;
        filter: drop-shadow(0px 0px 5px #ff0057);
    } to {
        opacity: 90%;
        width: 90%;
        margin: 2%;
        filter: drop-shadow(0px 0px 0px #00000000);
    }
}

button {
    margin: 5%;
}

