body {
    background-color: #24252d;
    height: 100%;
    overflow: hidden;
    margin: 0;
}
#main {
    margin:10vw 5vw 0 5vw;
    background-color: #2b2b35;
    border-radius: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heart {
    width:25vw;
    height:auto;
    margin: 2vw;
    /* filter: drop-shadow(0px 0px 5px #ff005788); */
}

.deactivated {
    opacity:50%;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.activated {
    opacity: 90%;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.pulse {
    animation: pulse 1s ease-in-out 1;
}

@keyframes pulse {
    from {
        opacity: 90%;
        width: 25vw;
        margin: 2vw;
        filter: drop-shadow(0px 0px 0px #00000000);
    } 45% {
        opacity: 100%;
        width: 27vw;
        margin: 1vw;
        filter: drop-shadow(0px 0px 5px #ff0057);
    } 50% {
        opacity: 90%;
        width: 26vw;
        margin: 1.5vw;
        filter: drop-shadow(0px 0px 0px #00000000);
    } 55% {
        opacity: 100%;
        width: 27vw;
        margin: 1vw;
        filter: drop-shadow(0px 0px 5px #ff0057);
    } to {
        opacity: 90%;
        width: 25vw;
        margin: 2vw;
        filter: drop-shadow(0px 0px 0px #00000000);
    }
}

button {
    margin: 5%;
}

